<ng-container *ngIf="action == 'transfer'">
  <div class="allCenter">
    <h2 class="message" [innerHTML]="message"></h2>
  </div>

  <div class="container-fluid">
    <div
      class="row box text-center"
      style="margin-left: 50px; margin-right: 50px; height: max-content"
    >
      <div class="col"></div>
      <div class="col fw-bolder fs-5 box fitContent">
        轉帳服務
        <br />
        <br />
        <div>
          轉出帳號:　<select #accountSelector (click)="selectAccount()">
            <ng-container *ngFor="let acc of allActivedAccount">
              <option
                *ngIf="acc.aid != transferAccount.aid"
                label="{{ acc.aaccount }} ({{
                  acc.anickname == null ? '未命名' : acc.anickname
                }})"
                value="{{ acc.aaccount }}"
              ></option>
              <option
                *ngIf="acc.aid === transferAccount.aid"
                label="{{ acc.aaccount }} ({{
                  acc.anickname == null ? '未命名' : acc.anickname
                }})"
                value="{{ acc.aaccount }}"
                selected
              ></option>
            </ng-container>
            <!-- <option value="456"></option> -->
          </select>
          餘額:　$TWD {{ currentBalance }}
        </div>
        <br /><br />
        轉入銀行代碼:　<input
          #receiverBankCode
          type="text"
          value="444"
          disabled
        />
        <br /><br />
        轉入銀行帳號:　<input #receiverAccount type="text" [maxLength]="20" />
        <br /><br />
        <ng-container>
          <div class="form-check form-switch align" style="align-self: center">
            預約轉帳功能　<input
              #schedule
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              [checked]="scheduleSwitchChecked"
              (click)="scheduleSwitch()"
            />
            <div *ngIf="scheduleSwitchStatus" class="text-center">
              <br />
              <div>選擇日期時間</div>
              <input #dateTime type="datetime-local" name="" id="" />
            </div>
          </div>
        </ng-container>
        <br /><br />
        <div>轉帳金額　<input #amountString type="number" max="50" /></div>
        <br />
        <div>
          貨幣類型　<select #currencyType style="width: auto">
            <option label="台幣" value="1" selected></option>
          </select>
        </div>
        <input
          class="btn btn-primary"
          type="button"
          value="確認"
          (click)="doTransfer()"
        />
      </div>
      <div class="col"></div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="action == 'verify'">
  <div class="allCenter">
    輸入驗證碼: <input #uverify id="uverify" class="input" type="text" /><br />
    <input
      type="button"
      class="btn btn-primary"
      value="驗證"
      (click)="doVerify()"
    />
    <input
      type="button"
      class="btn btn-primary"
      value="清除"
      onclick="document.getElementById('uverify').value=''"
    />
  </div>
</ng-container>
