<ng-container *ngIf="action == 'transfer'">
  <div class="allCenter">
    <h2 class="message" [innerHTML]="message"></h2>
  </div>

  <div class="container-fluid">
    <div
      class="row box text-center"
      style="margin-left: 50px; margin-right: 50px; height: max-content"
    >
      <div class="col"></div>
      <div class="col-3 fw-bolder fs-5 box fitContent">
        轉帳服務
        <br />
        <br />
        <div>
          轉出帳號:　<select
            #accountSelector
            class="form-select"
            (input)="selectAccount()"
          >
            <ng-container *ngFor="let acc of allActivedAccount">
              <option
                *ngIf="acc.aid != transferAccount.aid"
                label="{{ acc.aaccount }} ({{
                  acc.anickname == null ? '未命名' : acc.anickname
                }})"
                value="{{ acc.aaccount }}"
              ></option>
              <option
                *ngIf="acc.aid === transferAccount.aid"
                label="{{ acc.aaccount }} ({{
                  acc.anickname == null ? '未命名' : acc.anickname
                }})"
                value="{{ acc.aaccount }}"
                selected
              ></option>
            </ng-container>
            <!-- <option value="456"></option> -->
          </select>
          <br />
          <div style="color: rgb(53, 62, 187)">
            餘額:　$TWD {{ currentBalance }}
          </div>
        </div>
        <br />
        轉入銀行代碼:　<input
          #receiverBankCode
          class="form-control"
          type="text"
          value="444"
          disabled
        />
        <br />
        轉入銀行帳號:　<input
          #receiverAccount
          class="form-control"
          type="text"
          [maxLength]="20"
        />
        <br />
        <ng-container>
          <div class="form-check form-switch" style="align-items: center">
            預約轉帳功能　<input
              #schedule
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              [checked]="scheduleSwitchChecked"
              (click)="scheduleSwitch()"
            />
            <div *ngIf="scheduleSwitchStatus" class="text-center">
              <br />
              <div>選擇日期時間</div>
              <input
                #dateTime
                class="form-control"
                type="datetime-local"
                name=""
                id=""
                [min]="dateMaxMin[1]"
                [max]="dateMaxMin[0]"
              />
            </div>
          </div>
        </ng-container>
        <br />
        <div>
          轉帳金額　<input #amountString class="form-control" type="number" />
        </div>
        <br />
        <div>
          貨幣類型　<select #currencyType class="form-control">
            <option label="台幣" value="1" selected></option>
          </select>
        </div>
        <input
          class="btn btn-primary"
          type="button"
          value="確認"
          (click)="doTransfer()"
        />
        <input
          type="button"
          class="btn btn-primary"
          value="返回"
          (click)="router.navigate(['login'])"
        />
      </div>
      <div class="col"></div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="action == 'verify'">
  <div class="allCenter fw-bolder fs-5">
    <h2 class="message" [innerHTML]="message"></h2>
    <br /><br />轉出帳號:{{ transfer.senderAccount }}<br /><br />接收帳號:{{
      transfer.receiverAccount
    }}<br /><br />金額:{{ transfer.currencyType == 1 ? "$NTD" : "$USD" }}　{{
      transfer.amountString
    }}元<br /><br />
    <ng-container *ngIf="transfer.schedule">
      預約日期時間:{{ transfer.scheduleTime }}<br /><br />
    </ng-container>
    輸入驗證碼:
    <input #tverify id="tverify" class="input" type="text" />
    <br />
    <input
      type="button"
      class="btn btn-primary"
      value="驗證"
      (click)="doVerify()"
    />
    <input
      type="button"
      class="btn btn-primary"
      value="清除"
      onclick="document.getElementById('uverify').value=''"
    />
    <input
      type="button"
      class="btn btn-primary"
      value="返回"
      (click)="action = 'transfer'"
    />
  </div>
</ng-container>
<ng-container *ngIf="action == 'transferResultSuccess'">
  <div class="allCenter">
    <h2>交易完成</h2>
    <h2 class="message" style="color: forestgreen" [innerHTML]="message"></h2>
    <br /><br /><input
      class="btn btn-primary"
      type="button"
      value="回首頁"
      (click)="router.navigate(['login']); renewTimeUid(currentUserUid)"
    /><input
      class="btn btn-primary"
      type="button"
      value="再轉一筆"
      (click)="
        updateBalance(currentUserUid);
        calenderRestrictor();
        action = 'transfer';
        message = '';
        renewTimeUid(currentUserUid)
      "
    />
  </div> </ng-container
><ng-container *ngIf="action == 'transferResultFailed'">
  <div class="allCenter">
    <h2>交易失敗</h2>
    <h2 class="message" [innerHTML]="message"></h2>
    <br /><br /><input
      class="btn btn-primary"
      type="button"
      value="回首頁"
      (click)="router.navigate(['login']); renewTimeUid(currentUserUid)"
    />
  </div> </ng-container
><ng-container *ngIf="action == 'scheduledTransferResultSuccess'">
  <div class="allCenter">
    <h2>預約交易完成</h2>
    <h2 class="message" [innerHTML]="message" style="color: forestgreen"></h2>
    <br /><br /><input
      class="btn btn-primary"
      type="button"
      value="回首頁"
      (click)="router.navigate(['login']); renewTimeUid(currentUserUid)"
    /><input
      class="btn btn-primary"
      type="button"
      value="再轉一筆"
      (click)="
        updateBalance(currentUserUid);
        calenderRestrictor();
        action = 'transfer';
        message = '';
        renewTimeUid(currentUserUid)
      "
    />
  </div> </ng-container
><ng-container *ngIf="action == 'scheduledTransferResultFailed'">
  <div class="allCenter">
    <h2>預約交易失敗</h2>
    <h2 class="message" [innerHTML]="message"></h2>
    <br /><br /><input
      class="btn btn-primary"
      type="button"
      value="回首頁"
      (click)="router.navigate(['login']); renewTimeUid(currentUserUid)"
    />
  </div>
</ng-container>
