<ng-container *ngIf="action == 'register'">
  <div class="allCenter">
    <h2 class="message">&nbsp;{{ message }}</h2>
    帳號:<input #uname class="input" type="text" /><br />
    密碼:<input #upassword class="input" type="text" /><br />
    姓名:<input #urealname class="input" type="text" /><br />
    E-mail:<input #uemail class="input" type="text" /><br />
    手機號碼:<input #utelephone class="input" type="text" /><br />
    地址:<input #uaddress class="input" type="text" /><br />
    <fieldset class="input">
      <p>性別:</p>
      <div>
        <input
          type="radio"
          id="contactChoice1"
          name="contact"
          value="1"
          checked
          (click)="sexSelector(1)"
        />
        <label for="contactChoice1">男</label>

        <input
          type="radio"
          id="contactChoice2"
          name="contact"
          value="2"
          (click)="sexSelector(2)"
        />
        <label for="contactChoice2">女</label>
      </div>
    </fieldset>
    出生日期:<input #udate class="input" type="date" /><br />
    身分證字號:<input #uidentity class="input" type="text" /><br />
    <br />
    <br />
    <input
      type="button"
      class="btn btn-primary"
      value="送出"
      (click)="doRegisterUser()"
    />
  </div>
</ng-container>

<ng-container *ngIf="action == 'verify'">
  <div class="allCenter">
    輸入驗證碼: <input #uverify id="uverify" class="input" type="text" /><br />
    <input
      type="button"
      class="btn btn-primary"
      value="驗證"
      (click)="doVerifyUser()"
    />
    <input
      type="button"
      class="btn btn-primary"
      value="清除"
      onclick="document.getElementById('uverify').value=''"
    />
  </div>
</ng-container>
