<div class="allCenter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <br />
        <h3 style="color: tomato">{{ title }}</h3>
        <br />
        <h3>立即加入享有豐富折扣及回饋</h3>
        <br />
        <input
          [class]="blinker"
          type="button"
          value="點這裡開始發財"
          (click)="goLogin()"
          (mouseover)="btnLoginAnimation()"
          (mouseleave)="btnLoginAnimationStop()"
        />
        <br />
        <input
          class="btn btn-danger"
          type="button"
          value="立即開戶享高利率及跨轉優惠"
          (click)="goLogin()"
        />
        <br />
        <input
          class="btn btn-danger"
          type="button"
          value="現在辦卡就送菁仔2包"
          (click)="goLogin()"
        />
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
