.allCenter {
  text-align: center;
}

.btn {
  margin: 10px;
}

.input {
  margin: 10px;
}

.message {
  color: red;
  size: 25px;
  font-weight: bolder;
}

.box {
  height: 300px;
  /* background-color: cadetblue; */
}

.fitContent {
  height: fit-content;
  /* width: fit-content; */
}
.mainAccountTable {
  width: 1000px;
}
table,
th,
td {
  background-color: rgba(140, 140, 137, 20%);
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
}

.tableheadAccount {
  width: 30px;
}
.tableheadNickname {
  width: 30px;
}
.tableheadBalance {
  width: 40px;
}
.tableheadAction {
  width: 20px;
}
.form-check .form-check-input {
  float: none;
  margin-left: 0px;
  padding-left: 0px;
}

.failedTranscation {
  color: red;
}

.loading {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.267);
}
.loader {
  left: 50%;
  margin-left: -4em;
  font-size: 10px;
  border: 0.8em solid rgba(218, 219, 223, 1);
  border-left: 0.8em solid rgb(218, 38, 38);
  animation: spin 1.5s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
