<!-- <p>history works!</p>

<p>{{ historyAccount }}</p>
<p>{{ currentUserUid }}</p>
<p>{{ allActivedAccount }}</p> -->

<div class="container-fluid">
  <div class="row text-center">
    <div class="col fw-bolder fs-5"></div>
    <div class="col fw-bolder fs-5">
      <table *ngFor="">
        <tr>
          <th>轉出帳號</th>
          <th>轉入帳號</th>
          <th>金額</th>
          <th>狀態</th>
          <th>排程時間</th>
          <th>執行時間</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="col fw-bolder fs-5"></div>
  </div>
</div>
